DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_SECRET_KEY=change-me
DB_NAME=price_monitoring_board
DB_USER=postgres
DB_PASSWORD= 456198787981798
DB_HOST=localhost
DB_PORT=5432
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
CELERY_BROKER_URL=redis://redis:6379/0

REQUEST_TIMEOUT_SECONDS=8
BITBANK_REST_URL=
BITBANK_ORDERBOOK_ENDPOINT=/open/api/market_dept
BITBANK_TICKER_ENDPOINT=/open/api/get_ticker
BITBANK_TRADES_ENDPOINT=/open/api/get_trades
BITBANK_FORWARDED_FOR=
BITBANK_ALLOW_SIMOPS=0
BITBANK_WS_URL=
BITBANK_WS_SUBSCRIBE_MESSAGE=
BITBANK_WS_TIMEOUT_SECONDS=8
